.App {
  font-family: sans-serif;
  text-align: center;
  overflow-y: hidden;

}


#map-container{
  display: flex;
  flex-direction: row;
  
  
}
.leaflet-container
{
  height: "80vh";
  width:"70%";
}
#ReadMe>h3,h2{
  padding: 10px;

}

@media only screen and (max-width: 600px) {
  #map-container{
   
    flex-direction: column;
    
  }
  .leaflet-container{
    width: 100%;
  }
}